version: '3'
services:
  web:
    build:
      context: .
      dockerfile: docker/Dockerfile
      args:
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    image: uofa/s2i-shepherd-drupal-dev
    hostname: ${PROJECT}
    ports:
      - "80:8080"
    environment:
      DTT_BASE_URL: http://web:8080
      DTT_MINK_DRIVER_ARGS: '["chrome", { "chromeOptions": { "w3c": false } }, "http://selenium:4444/wd/hub"]'
      HASH_SALT: random-hash
      MEMCACHE_ENABLED: 1
      MEMCACHE_HOST: memcached
      PHP_IDE_CONFIG: serverName=${PROJECT}.${DOMAIN}
      PUBLIC_DIR: /shared/public
      REDIS_ENABLED: 0
      REDIS_HOST: redis
      SHEPHERD_SITE_ID: 2
      SHEPHERD_INSTALL_PROFILE: ua
      SHEPHERD_SECRET_PATH: /code/private
      SHEPHERD_TOKEN: super-secret-token
      SHEPHERD_URL: http://shepherd.test
      SIMPLETEST_BASE_URL: http://web:8080
      SITE_TITLE: WCMS D8
      SITE_MAIL: site@example.com
      SITE_ADMIN_EMAIL: admin@example.com
      SITE_ADMIN_USERNAME: admin
      SITE_ADMIN_PASSWORD: password
      SSH_AUTH_SOCK: /ssh/ssh
      VIRTUAL_HOST: ${PROJECT}.${DOMAIN}
      # Do not define this as '/' or apache2 will give strange behaviour, to test locally,
      # change to the web directory and create a symlink to the subpath name eg ln -s . subpath
      # WEB_PATH: /subpath
      XDEBUG_CONFIG: "remote_host=172.17.0.1"
    volumes:
      - .:/code
      - ./shared:/shared
      - ${XDG_RUNTIME_DIR}/keyring:/ssh
    networks:
      - default

  db:
    image: mariadb
    environment:
      MYSQL_DATABASE: drupal
      MYSQL_USER: user
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: super-secret-password
    network_mode: service:web

  mail:
    image: mailhog/mailhog
    environment:
      VIRTUAL_HOST: mail.${PROJECT}.${DOMAIN}
    ports:
      - "8025:8025"
    networks:
      - default

  redis:
    image: redis:alpine
    command: |
      redis-server
      --maxmemory 256m
      --maxmemory-policy allkeys-lru
      --save ""
    networks:
      - default

  memcached:
    image: memcached:alpine
    command: |
      memcached
      -m 256
    networks:
      - default

  selenium:
    image: selenium/standalone-chrome:latest
    volumes:
      - /dev/shm:/dev/shm
    network_mode: service:web
